{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% block content %}
  {% include 'username_search/search_form.html' with form=form %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Username</th>
        <th class="timestamp" scope="col">Registered At</th>
        <th scope="col">Edit Count</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            {{ user.user_id }}
          </td>
          <td>
            <a href="{{ indexphp }}?title=Special:Contributions/{{ user.user_name }}">
              {{ user.user_name }}
            </a>
          </td>
          <td class="timestamp">
            {{ user.user_created }}
          </td>
          <td>
            {{ user.edit_count }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
