{% extends 'base.html' %}
{% block title %}Documentation{% endblock %}
{% block content %}
  <h2>Username Search Tool</h2>
  <p>This is a tool that uses the Toolforge database replicas to find username that match a certain pattern. It is common for sockpuppeters to use some common structure to their username, so this tool can be used to find those accounts.</p>
  <p>The "search query" field uses a largely perl-compatible regular expression. ^ represents the beginning of the string, and $ represents the end. So to find all users whose usernames start with "ST47", you could use "^ST47.*$" or more simply "^ST47".</p>
  <p>Logging in via OAuth allows you to get more results. For performance reasons, anonymous users have a limited number of results.</p>
  <h2>Maintainer and Source</h2>
  <p>This tool is written in Python using <a href="https://djangoproject.com">Django</a> and <a href="https://www.mediawiki.org/wiki/Manual:Pywikibot">Pywikibot</a>, and is maintained by <a href="https://en.wikipedia.org/wiki/User:ST47">ST47</a>. Source code is available on <a href="https://github.com/wiki-ST47/wiki-username-search/">GitHub</a>.</p>
  <h2>Bookmarks</h2>
  <p>Please bookmark the <a href="{% url 'home' %}">Homepage</a> for normal usage of this tool. However, all of the parameters as passed as "GET" parameters - as part of the URL - so if you want to bookmark a specific query and check
  back periodically, in case of repeat sockmasters, you can do so.</p>
  <h2>Options</h2>
  <dl>
    <dt>Path to the wiki</dt>
    <dd>This must be the domain name of the wiki you intend to use, formatted like "en.wikipedia.org", with <i>no</i> "https://" or "/wiki/". English Wikipedia is the default.</dd>
    <dt>Search query</dt>
    <dd>This is the RegEx we are searching for, in perl-compatible format.</dd>
    <dt>Number of users to search</dt>
    <dd>How many users to return in total.</dd>
  </dl>
{% endblock %}
